<sj-toolbar [actions]="actions"></sj-toolbar>

<mat-list>
  <mat-list-item>
    <img matListAvatar [src]="match.owner.pictureUrl" />
    <h3 matLine>
      {{match.name}}
      <span *ngIf="session.loggedUser()">
        <span *ngIf="!isMine">
          <button mat-icon-button *ngIf="isLike" style="float: right" (click)="unlike()">
            <i class="fas  fa-lg fa-thumbs-up"></i> {{match.likes.length}}
          </button>
          <button mat-icon-button *ngIf="!isLike" style="float: right" (click)="like()">
            <i class="far  fa-lg fa-thumbs-up"></i> {{match.likes.length}}
          </button>
        </span>
        <span *ngIf="isMine">
          <button mat-icon-button style="float: right" (click)="likeMyself()">
            <i class="far  fa-lg fa-thumbs-up"></i> {{match.likes.length}}
          </button>
        </span>
      </span>
    </h3>
    <p matLine>
      <span> {{match.startDate | date: 'EEE MM/dd/yy HH:mm'}} </span>
      <span> by {{match.owner.name}} {{match.owner.lastName}} </span>
    </p>
  </mat-list-item>
</mat-list>
<div class="button-row" *ngIf="session.loggedUser()">
  <button *ngIf="isJoin !== undefined && !isMine && !isJoin" (click)="join()" mat-button color="accent">
    <i class="far fa-dot-circle"></i>
    Join
  </button>
  <button *ngIf="isJoin !== undefined && !isMine && isJoin" disabled mat-button color="accent">
    <i class="fas fa-dot-circle"></i>
    Joined
  </button>
  <button *ngIf="isJoin === undefined || isMine" disabled mat-button color="accent">
    <i class="fas fa-dot-circle"></i>
  </button>
  <span *ngIf="match.join?.matches?.length">
    {{match.join?.matches?.length}} players in this match
  </span>
</div>
<agm-map #map *ngIf="platform.isBrowser()" [latitude]="match.center.lat" [streetViewControl]="false" [rotateControl]="true" [longitude]="match.center.lng" [zoom]="22" mapTypeId="satellite"
  (mapReady)="mapReady($event)">
  <agm-circle *ngIf="showCentre" [latitude]="match.center.lat" [longitude]="match.center.lng" [radius]="1" [fillOpacity]="1"
    [fillColor]="'blue'">
  </agm-circle>
</agm-map>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Control
    </mat-panel-title>
    <mat-panel-description>
      configure map
    </mat-panel-description>
  </mat-expansion-panel-header>
  Time ({{toDate(match.streams.time[currentTime] * 1000) | date:'HH:mm:ss'}})
  <mat-slider [min]="0" [max]="maxTime" [(ngModel)]="currentTime" (change)="currentTimeChange($event)" style="width: 100%"></mat-slider>
  Radius
  <mat-slider [thumb-label]="true" [min]="0" [max]="20" [(ngModel)]="pointRadius" (change)="radiusChange($event)" style="width: 50%"></mat-slider>
  <mat-slide-toggle [(ngModel)]="showCentre">AVG position</mat-slide-toggle>
</mat-expansion-panel>
<mat-list>
  <mat-list-item>
    <form style="margin-top: 2em; width: 100%">
      <mat-form-field style="width: 30%">
        <input matInput readonly placeholder="Moving time" *ngIf="match.movingTime" value="{{match.movingTime / 60  | number:'2.0-0'}} min">
        <input matInput readonly placeholder="Moving time" *ngIf="!match.movingTime" value="-">
      </mat-form-field>
      <mat-form-field style="width: 30%">
        <input matInput readonly placeholder="Elapsed time" value="{{match.elapsedTime / 60  | number:'2.0-0'}} min">
      </mat-form-field>
      <mat-form-field style="width: 30%">
        <input matInput readonly placeholder="Avg PPM" value="{{match.averageHeartRate | number:'3.0-0'}}">
      </mat-form-field>
    </form>
  </mat-list-item>

  <mat-list-item>
    <form style="margin-top: 2em; width: 100%">
      <mat-form-field style="width: 30%">
        <input matInput readonly placeholder="Distance" value="{{match.distance / 1000 | number:'1.2-2'}} Km" />
      </mat-form-field>
      <mat-form-field style="width: 30%">
        <input matInput readonly placeholder="Avg Speed" value="{{match.averageSpeed | number:'1.2-2'}} Km/h" />
      </mat-form-field>
      <mat-form-field style="width: 30%">
        <input matInput readonly placeholder="Calories" value="{{match.calories | number:'1.0-0'}}" />
      </mat-form-field>
    </form>
  </mat-list-item>
</mat-list>

<sj-match-chart *ngIf="chartMatches" [matches]="chartMatches"></sj-match-chart>
<sj-match-comments [match]="match"></sj-match-comments>

<!-- <mat-expansion-panel *ngIf="joinMatches" displayMode="flat" style="margin-top: 2em">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Joined
    </mat-panel-title>
    <mat-panel-description>
      Others players in the same match
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngFor="let joinedMatch of joinMatches">
    <mat-list>
      <mat-list-item>
        <img matListAvatar [src]="joinedMatch.owner.pictureUrl" />
        <h3 matLine>
          {{joinedMatch.owner.name}}
          <span *ngIf="joinedMatch.owner._id === session.loggedUser()._id">(you)</span>
        </h3>
        <button mat-icon-button routerLink="/matches/{{joinedMatch._id}}">
          <i class="fas fa-eye"></i>
        </button>
      </mat-list-item>
    </mat-list>

    <mat-list>
      <mat-list-item>
        <form style="margin-top: 2em">
          <mat-form-field style="width: 30%">
            <input matInput readonly placeholder="Moving time" value="{{joinedMatch.movingTime / 60  | number:'2.0-0'}} min">
          </mat-form-field>
          <mat-form-field style="width: 30%">
            <input matInput readonly placeholder="Elapsed time" value="{{joinedMatch.elapsedTime / 60  | number:'2.0-0'}} min">
          </mat-form-field>
          <mat-form-field style="width: 30%">
            <input matInput readonly placeholder="Avg PPM" value="{{joinedMatch.averageHeartRate | number:'3.0-0'}}">
          </mat-form-field>
        </form>
      </mat-list-item>

      <mat-list-item>
        <form style="margin-top: 2em">
          <mat-form-field style="width: 30%">
            <input matInput readonly placeholder="Distance" value="{{joinedMatch.distance / 1000 | number:'1.2-2'}} Km" />
          </mat-form-field>
          <mat-form-field style="width: 30%">
            <input matInput readonly placeholder="Avg Speed" value="{{joinedMatch.averageSpeed | number:'1.2-2'}} Km/h" />
          </mat-form-field>
          <mat-form-field style="width: 30%">
            <input matInput readonly placeholder="Calories" value="{{joinedMatch.calories | number:'1.0-0'}}" />
          </mat-form-field>
        </form>
      </mat-list-item>
    </mat-list>
  </div>
</mat-expansion-panel> -->

<!-- <div *ngIf="joinMatches">
  <h4>Joined</h4>
  <mat-card *ngFor="let joinedMatch of joinMatches">
    <mat-card-header>{{joinedMatch.owner.name}}</mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <form style="margin-top: 2em">
            <mat-form-field style="width: 30%">
              <input matInput readonly placeholder="Moving time" value="{{joinedMatch.movingTime / 60  | number:'2.0-0'}} min">
            </mat-form-field>
            <mat-form-field style="width: 30%">
              <input matInput readonly placeholder="Elapsed time" value="{{joinedMatch.elapsedTime / 60  | number:'2.0-0'}} min">
            </mat-form-field>
            <mat-form-field style="width: 30%">
              <input matInput readonly placeholder="Avg PPM" value="{{joinedMatch.averageHeartRate | number:'3.0-0'}}">
            </mat-form-field>
          </form>
        </mat-list-item>

        <mat-list-item>
          <form style="margin-top: 2em">
            <mat-form-field style="width: 30%">
              <input matInput readonly placeholder="Distance" value="{{joinedMatch.distance / 1000 | number:'1.2-2'}} Km" />
            </mat-form-field>
            <mat-form-field style="width: 30%">
              <input matInput readonly placeholder="Avg Speed" value="{{joinedMatch.averageSpeed | number:'1.2-2'}} Km/h" />
            </mat-form-field>
            <mat-form-field style="width: 30%">
              <input matInput readonly placeholder="Calories" value="{{joinedMatch.calories | number:'1.0-0'}}" />
            </mat-form-field>
          </form>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div> -->