<mat-progress-bar mode="indeterminate" *ngIf="loading" style="position: fixed" color="accent"></mat-progress-bar>
<mat-toolbar color="primary">
  <span *ngIf="isHome" style="cursor: pointer">
    <i class="fas fa-bars"></i>
  </span>
  <span *ngIf="!isHome" (click)="back()" style="cursor: pointer">
    <i class="fas fa-arrow-left"></i>
  </span>
  <span style="margin-left: 1em">{{title}}</span>

  <div *ngIf="loading" style="margin-left: auto">
    <i class="fas fa-futbol fa-pulse"></i>
  </div>
  <span *ngIf="!loading" style="margin-left: auto">
    <button mat-icon-button *ngFor="let action of actionsMain" (click)="action.click()">
      <i [class]="action.styleName" [title]="action.text"></i>
    </button>
  </span>
  <button *ngIf="actionsMenu.length && !loading" mat-icon-button [matMenuTriggerFor]="customMenu">
    <i class="fas fa-lg fa-ellipsis-v"></i>
  </button>
</mat-toolbar>
<mat-menu #customMenu="matMenu">
  <button mat-menu-item *ngFor="let action of actionsMenu" (click)="action.click()">
    <i [class]="action.styleName"></i>
    <span>{{action.text}}</span>
  </button>
</mat-menu>