<!-- <div *ngIf="matches && !matches.length">
  <p>
    Welcome to SoccerJoin {{session.loggedUser()?.name}}!
  </p>
  
</div> -->
<mat-tab-group>
  <mat-tab label="All">
    <div *ngIf="!allMatches">
      Loading
    </div>
    <div *ngIf="allMatches && !allMatches.length">
      <h3 style="margin-left: auto;margin-right: auto;width: 310px;">
        Ups, there is not matches yet, you can start
      </h3>
      <button mat-raised-button color="primary" style="margin-left: auto; margin-right: auto; display: block" routerLink="/strava/importer">
        <i class="fas fa-upload"></i> importing from Strava!
      </button>
    </div>
    <mat-list *ngIf="allMatches && allMatches.length">
      <mat-list-item *ngFor="let match of allMatches" routerLink="/matches/{{match._id}}">
        <img matListAvatar [src]="match.owner.pictureUrl" />
        <h3 matLine>{{match.name}}</h3>
        <p matLine>
          {{match.startDate | date: 'EEE MM/dd/yy HH:mm'}}
        </p>
        <p matLine>
          {{match.distance / 1000 | number:'1.2-2'}} Km
          <span style="margin-left: 1em">{{match.elapsedTime / 60 | number:'2.0-0'}} min</span>
          <span style="margin-left: 1em">{{match.calories}} cal</span>
          <span style="margin-left: 1em">{{match.averageHeartRate | number:'2.0-0'}} ppm</span>
        </p>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Mine">
    <div *ngIf="matches && !matches.length">
      <h3 style="margin-left: auto;margin-right: auto;width: 310px;">
        Ups, there is not matches yet, you can start
      </h3>
      <button mat-raised-button color="primary" style="margin-left: auto; margin-right: auto; display: block" routerLink="/strava/importer">
        <i class="fas fa-upload"></i> importing from Strava!
      </button>
    </div>
    <mat-list *ngIf="matches && matches.length">
      <mat-list-item *ngFor="let match of matches" routerLink="/matches/{{match._id}}">
        <img matListAvatar [src]="match.owner.pictureUrl" />
        <h3 matLine>{{match.name}}</h3>
        <p matLine>
          {{match.startDate | date: 'EEE MM/dd/yy HH:mm'}}
        </p>
        <p matLine>
          {{match.distance / 1000 | number:'1.2-2'}} Km
          <span style="margin-left: 1em">{{match.elapsedTime / 60 | number:'2.0-0'}} min</span>
          <span style="margin-left: 1em">{{match.calories}} cal</span>
          <span style="margin-left: 1em">{{match.averageHeartRate | number:'2.0-0'}} ppm</span>
        </p>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>

<button mat-fab style="position: fixed; bottom: 1em; right: 1em; z-index: 2000" routerLink="/strava/importer">
  <i class="fas fa-plus"></i>
</button>