<mat-sidenav-container>
    <mat-sidenav mode="side" opened="false">Sidenav content</mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">Soccer Join</mat-toolbar>
        <!-- <br/>
        <button mat-raised-button>BASE</button>
        <button mat-raised-button color="primary">PRIMARY</button>
        <button mat-raised-button color="accent">ACCENT</button>
        <button mat-raised-button color="warn">WARN</button> -->
    </mat-sidenav-content>
</mat-sidenav-container>