<mat-sidenav-container>
    <mat-sidenav mode="side" opened="false">Sidenav content</mat-sidenav>
    <mat-sidenav-content style="height: 100vh">
        <mat-toolbar color="primary">
            <span routerLink="/home" style="cursor: pointer">
                <i class="fas fa-futbol" style="margin-right: 1em"></i>
            </span>
            Soccer Join
        </mat-toolbar>
        <router-outlet *ngIf="!session.token() || session.loggedUser()"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>