<mat-progress-bar mode="indeterminate" *ngIf="loading" style="position: fixed; z-index: 2000" color="accent"></mat-progress-bar>
<mat-sidenav-container>
    <mat-sidenav [mode]="sideNavMode" [(opened)]="sideOpen" style="background-color: #E8FFCC">
        <mat-toolbar color="primary" *ngIf="!mobileQuery.matches"></mat-toolbar>
        <sj-menu></sj-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <mat-toolbar color="primary">
            <span routerLink="/home" style="cursor: pointer">
                <i class="fas fa-home"></i>
            </span>
            <span  style="margin-left: 1em">Soccer Join</span>

            <div *ngIf="loading" style="margin-left: auto">
                <i class="fas fa-futbol fa-pulse" ></i>
            </div>
            <span *ngIf="!loading && action"  style="margin-left: auto" (click)="action.click()">
                <i [class]="action.styleName" [title]="action.text" ></i>
            </span>
        </mat-toolbar> -->
        <router-outlet *ngIf="!session.token() || session.loggedUser()"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>